parameters:
	ignoreErrors:
		-
			rawMessage: Access to an undefined property chillerlan\SettingsTest\Subjects\TestContainer::$foo.
			identifier: property.notFound
			count: 1
			path: tests/ContainerTest.php

		-
			rawMessage: Access to private property chillerlan\SettingsTest\Subjects\ExceptionTestContainer::$inaccessible.
			identifier: property.private
			count: 2
			path: tests/ContainerTest.php

		-
			rawMessage: Access to private property chillerlan\SettingsTest\Subjects\TestContainer::$test3.
			identifier: property.private
			count: 6
			path: tests/ContainerTest.php

		-
			rawMessage: Access to protected property chillerlan\SettingsTest\Subjects\ExceptionTestContainer::$accessible.
			identifier: property.protected
			count: 3
			path: tests/ContainerTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertFalse() with true will always evaluate to false.'
			identifier: staticMethod.impossibleType
			count: 1
			path: tests/ContainerTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertFalse() with true will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/ContainerTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertNull() with string will always evaluate to false.'
			identifier: staticMethod.impossibleType
			count: 3
			path: tests/ContainerTest.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertTrue() with true will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/ContainerTest.php

		-
			rawMessage: Expression "$container->inaccessible" on a separate line does not do anything.
			identifier: expr.resultUnused
			count: 1
			path: tests/ContainerTest.php

		-
			rawMessage: 'Property chillerlan\SettingsTest\Subjects\TestContainer::$test1 (string) in isset() is not nullable.'
			identifier: isset.property
			count: 2
			path: tests/ContainerTest.php

		-
			rawMessage: 'Property chillerlan\SettingsTest\Subjects\TestContainer::$test3 (string) in isset() is not nullable.'
			identifier: isset.property
			count: 1
			path: tests/ContainerTest.php

		-
			rawMessage: Access to protected property chillerlan\SettingsTest\Subjects\PropertyHooksContainer::$test1.
			identifier: property.protected
			count: 4
			path: tests/PropertyHooksTest.php

		-
			rawMessage: Access to protected property chillerlan\SettingsTest\Subjects\PropertyHooksContainer::$test2.
			identifier: property.protected
			count: 4
			path: tests/PropertyHooksTest.php

		-
			rawMessage: Access to protected property chillerlan\SettingsTest\Subjects\PropertyHooksContainer::$test3.
			identifier: property.protected
			count: 5
			path: tests/PropertyHooksTest.php

		-
			rawMessage: Access to protected property chillerlan\SettingsTest\Subjects\PropertyHooksContainer::$test4.
			identifier: property.protected
			count: 5
			path: tests/PropertyHooksTest.php

		-
			rawMessage: 'Property chillerlan\SettingsTest\Subjects\ExceptionTestContainer::$inaccessible is never read, only written.'
			identifier: property.onlyWritten
			count: 1
			path: tests/Subjects/ExceptionTestContainer.php

		-
			rawMessage: 'Property chillerlan\SettingsTest\Subjects\TestContainer::$test3 is never read, only written.'
			identifier: property.onlyWritten
			count: 1
			path: tests/Subjects/TestContainer.php
